.vscode/**
.vscode-test-web/**
.github/**
typings/**
out/**
test/**
src/**
**/*.map
**/*.ts
**/*.d.ts
node_modules/**
!node_modules/@lifeart/ember-language-server/package.json
!node_modules/@lifeart/ember-language-server/dist/**
!node_modules/vscode-languageserver/package.json
!node_modules/vscode-languageserver/node.js
!node_modules/vscode-languageserver/lib/node/*.js
!node_modules/vscode-languageserver/lib/common/*.js
.gitignore
.vsix
tsconfig.json
vsc-extension-quickstart.md
vscode-ember-unstable*
webpack.config.js
