.vscode/**
.vscode-test-web/**
.github/**
typings/**
out/**
test/**
src/**
**/*.map
**/*.ts
**/*.d.ts
node_modules/**
!node_modules/@lifeart/ember-language-server/package.json
!node_modules/@lifeart/ember-language-server/dist/**
!node_modules/vscode-languageserver/package.json
!node_modules/vscode-languageserver/node.js
!node_modules/vscode-languageserver/lib/node/**/*.js
!node_modules/vscode-languageserver/lib/common/**/*.js
!node_modules/vscode-languageserver-protocol/package.json
!node_modules/vscode-languageserver-protocol/node.js
!node_modules/vscode-languageserver-protocol/lib/node/**/*.js
!node_modules/vscode-languageserver-protocol/lib/common/**/*.js
!node_modules/vscode-jsonrpc/package.json
!node_modules/vscode-jsonrpc/node.js
!node_modules/vscode-jsonrpc/lib/node/**/*.js
!node_modules/vscode-jsonrpc/lib/common/**/*.js
!node_modules/vscode-languageserver-types/package.json
!node_modules/vscode-languageserver-types/lib/**/*.js
!node_modules/find-up/**
!node_modules/@lifeart/ember-language-server/node_modules/find-up/**
.gitignore
.vsix
tsconfig.json
vsc-extension-quickstart.md
vscode-ember-unstable*
webpack.config.js
